body{
    background-color:#C9BBAA;
}

.div-esquerda{
    width: 793px;
    height: 1117px;
}

.div-direita{
    margin-top: -100px;
}

.container{
    display: flex;
}

.img1{
    margin-left: -8px;
    margin-top: -8px;
}

h1{
    width: 500px;
    color: #524C4C;
    padding: 92px 0 0 260px;   
    font-family: Inter;
    text-align: center;
}

p{
    width: 170px;
    font-family: Inter;
}

.linha{
    display: flex;
    width: 154px;
    height: 1px;
    background-color: #524C4C;
}
.divisor{
    font-size: 20px;
    margin: 30px 0px 0px 235px;
    height: 92px;
    width: 541px;
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.bloco{
    Width: 258px;
    Height: 50px;
    background-color: white;
    margin: 30px 0px 0px 25px;
    border: 10px;
    border-radius: 5px;
}
.div-bloco{
    display: flex;
    padding: 0 0 0 210px;
}
.p1{
    margin-top: 50px;
    padding: 0 0 0 493px;
}

.p2{
    font-size: 16px;
    padding: 0 0 0 260px;
    font-family: Poppins;
    color:#636162;
}

.lista-geral{
    list-style: none;
    padding: 0 0 0 235px;
}

.lista{
    color: #636162;
    font-family: Poppins;
}

.texto{
    width: 537px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    margin-top: -15 px;
}

.box{
    width: 20px;
    height: 20px;
}

.check{
    display: flex;
    padding: 0 0 0 235px;
}

.p3{
    width: 300px;
    padding: 0 0 0 10px;
    margin-top: 3px;
    font-family: Poppins;
}

.check2{
    display:flex;
}

.p4{
    font-family: Poppins;
    width: 300px;
    padding: 0 0 0 240px;
}

.p5{
    margin-left: 5px;
}

.box2{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px;
    margin-top: 14px;
}

.botao-01{
    background-color: #736B66;
    border: 0px;
    border-radius: 5px;
    margin-left: 240px;
    width: 537px;
    height: 57px;
    color: white;
}

span{
    color: red;
}

.p6{
    font-family: Poppins;
    width: 300px;
    padding: 0 0 0 380px;   
}

